Repository vtex-apps/product-details, pull requests merged in 2018-11, with the labels that each got.

#58 Fix/no description
  CHANGELOG.md
  manifest.json
  react/ProductDetails.js
Labels: bug

#62 Refact design tokens and pass it by props
  CHANGELOG.md
  react/ProductDetails.js
  react/global.css
Labels: breaking-change

#61 Release v1.0.0
  CHANGELOG.md
  manifest.json
  react/ProductDetails.js
  react/global.css
Labels: breaking-change, next

#63 Remove share label from locales
  CHANGELOG.md
  react/locales/en-US.json
  react/locales/es-AR.json
  react/locales/pt-BR.json
Labels: good first issue
